.writeup * {
  font-size: 18px;
  line-height: 36px;
}
.writeup {
  margin: 0 calc(10px + 1vw);
}
.writeup * ul {
  padding: 0;
}
.writeup * li {
  padding-left: 1em !important;
}
.writeup * li::before {
  width: 0;
  margin-right: 1em !important;
  margin-left: -1em !important;
}
.writeup article {
  margin-bottom: 18px;
}
.writeup h2 {
  font-size: 20px;
  margin: 0;
}
.detailsPageBody {
  display: flex;
  flex-direction: row;
  width: 95%;
}

.exerciseBody {
  width: 95%;
}

@media (max-width: 500px) {
  .detailsPageBody {
    flex-direction: column;
  }
}
