.modalContent {
  display: flex;
  flex-direction: column;
  width: 25vw;
  height: 100%;
  text-align: left;
  background-color: rgba(251, 251, 251);
  z-index: 1001;
  padding-left: calc(10px + 1vw);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}
.modalContent a {
  color: royalblue;
}
.modalContent h3 {
  text-decoration: underline;
  margin: 0;
  padding-top: 18px;
}
.modalContent a,
h3 {
  padding-bottom: 3vh;
}
.hidden {
  opacity: 0;
}
