* {
  font-size: calc(10px + 2vmin);
}

.header {
  background-color: #282c34;
  height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
.sidebar {
  width: 25vw;
}
.sidebar a {
  color: gray;
  padding: 3vw;
  display: block;
}
main {
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
