* {
  font-size: calc(10px + 2vmin);
}

.header {
  background-color: #282c34;

  height: 10vh;

  display: flex;

  flex-direction: row;

  align-items: center;

  justify-content: center;

  color: white;
}

main {
  min-height: 80vh;

  display: flex;

  flex-direction: column;

  justify-content: center;

  align-items: center;
}
