.backButton {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: calc(70px + 1vw);
  transform: translate(-50%, -50%);
  overflow: hidden;
  transition: background 0.2s ease;
  border-radius: 50%;
}
/* .backButton:active {
  background: rgba(112, 128, 144, 0.5);
} */

.backButton:active .arrowWrap span {
  background: #fff;
}

.arrowWrapBack {
  left: -50% !important;
}

.arrowWrap {
  display: block;
  position: absolute;
  height: 70%;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: left 0.2s ease;
  cursor: pointer;
}
.arrowWrap span {
  height: 4px;
  /* left: 5px; */
  background: rgba(0, 0, 0, 0.54);
  position: absolute;
  display: block;
  transition: background 0.2s ease;
}
/* .arrowPart1 {
  top: 55%;
  width: 100%;
  transform: translate(0, -50%);
} */
.arrowPart2 {
  top: 50%;
  width: 60%;
  transform: rotate(-45deg);
  transform-origin: 0 0;
}
.arrowPart3 {
  top: 50%;
  width: 70%;
  transform: rotate(45deg);
  transform-origin: 0 0;
}
